
.nav-links {
    display: flex;
    justify-content: space-between;
    color: green;
    background-color: rgb(114, 112, 112);
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 20px;
}
/* element selector */
h1 {
    color: green; /* custom color for the heading */
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}
/* class selector */
.profile-picture 
{
    display: block;
    margin: 0 auto; /* margin auto to center the image horizontally */
    width: 500px;
    height: auto;  
}

body
{
   background-color: rgb(158, 158, 158) !important; /* ovverride the default bootstrap background color */
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.column {
   display: flex;
   flex-direction: column;
   flex: 33.33%;
   align-items: center;
   color: black;
   font-size: 16px;
   background-color: rgb(114, 112, 112);
   background-clip: content-box;    
}

#about{
    text-align: center;
}

#skills{
    width: fit-content;
    background-color: rgb(103, 103, 103);
    border-radius: 10px; /* Add border radius for rounded corners */
}

.jobs{
    background-color: rgb(114, 112, 112); 
    width: 100%;
}   

/* override the default bootstrap background color and border radius */
.table-primary { 
    background-color: rgb(114, 112, 112);
    border-radius: 10px; /* Add border radius for rounded corners */
}

.container{
    background-color: rgb(156, 155, 155);
    border-radius: 10px; /* Add border radius for rounded corners */
}
