<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marcus' Home Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../resources/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Welcome to My Website</h1>
        </header>

        <nav>
            <!--
                <div class="nav-links">
                    <a href="./hobbies.html">Hobbies</a>
                    <a href="./projects.html">Projects</a>
                    <a href="./resume.html">Resume</a>
                </div>
            -->
            <ul class="nav"> <!-- nav classes together are used to create a simple navigation list using a flexbox -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item"> <!-- needs to be used in lists-->
                    <a class="nav-link" href="./projects.html">Projects</a> <!-- nav-link is used for links-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./resume.html">Resume</a>
                </li>
            </ul>
        </nav>
        <br>
        <main>
            <img class="profile-picture" src="../resources/img/pfp.jpg" alt="Profile Picture" width="200" height="200">
                <section style="text-align: center;">
                    <h2>About Me</h2>
                    <p>My name is Marcus Feist. I am a student at the University of Colorado Boulder studying Computer Science.<br>
                        I am a passionate about sports, gaming, game development, and much more. 
                    </p>
                </section>
        </main>

        <footer>
            <form action="https://www.linkedin.com/in/marcus-feist-07030b360" method="get" target="_blank">
                <button type="submit">My LinkedIn</button>
            </form>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>

</html>
